<p style="text-align: center;">Please fill in the form field to borrow a new book</p>
<div class="form-container">

  <div class="mb-3">
    <label for="title" class="form-label" style="width: 500px;">Title</label>
    <input [(ngModel)]="title" name="name" type="text" class="form-control" placeholder="Title" id="title">
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <select [(ngModel)]="category" name="category" class="form-select" aria-label="Default select category">
      <option value="0">Choose</option>
      <option value="1">Art</option>
      <option value="2">Computer</option>
      <option value="3">Science</option>
      <option value="4">Others</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input [(ngModel)]="author" name="booktitle" type="text" class="form-control" placeholder="Author" id="author">
  </div>

  <div class="mb-3">
    <label for="edition" class="form-label">Edition</label>
    <input [(ngModel)]="edition" name="edition" type="text" class="form-control" placeholder="Edition" id="edition">
  </div>

  <div class="mb-3">
    <label for="yearpublish" class="form-label">Publish Year</label>
    <input [(ngModel)]="yearpublish" name="yearpublish" type="number" class="form-control" placeholder="Publish Year"
      id="yearpublish">
  </div>

  <div class="form-control">
    <label for="image">Image</label>
    <input type="file" (change)="onFileSeleceted($event)">
  </div>

  <button (click)="onAdd()" class="btn btn-outline-primary" type="submit">Add Now!</button>
</div>