

<div class="container-fluid">
  <div class="row">

    
    <div class="col-sm-2">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height: 100vh; width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">LOGO</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a [routerLink]="['/dashboard']" class="nav-link " aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a [routerLink]="['/borrower']" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="borrower"/></svg>
              Borrower
            </a>
          </li>
          <li>
            <a [routerLink]="['/books']" class="nav-link active text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#books"/></svg>
              Books
            </a>
          </li>
          <li>
            <a [routerLink]="['/returns']" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#returns"/></svg>
              Returns
            </a>
          </li>
        </ul>
        <hr>


      </div>
    </div>

 
    <div class="col-sm-10">


    <nav class="navbar navbar-expand-sm navbar-light" style="float: right;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

      <p></p>
      <h1>Books Page</h1>
      <p></p>

<div class="row" style="background-color: #d9d9d9;">
  <p></p>
  <span style="font-weight: 800;">Overdue Books List</span>
  <p></p>

  
 <div *ngIf="!isEditing" class="product-form">
  <table class="table table-striped ">
    <thead>
      <tr>
        
        <th scope="col">ID No.</th>
        <th scope="col">Book Title</th>
         <th scope="col">Book Category</th>
        <th scope="col">Book Edition</th>
        <th scope="col">Book Author</th>
        <th scope="col">Total Books</th>
        <th scope="col">Total Book Available</th>
        <th>Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
       
        <td>{{book.book_id}}</td>


        <div *ngIf="deletecopy">
          <tr>
          <td>{{book.book_id}}</td>
        <td><a href=""> <i class="bi bi-trash3-fill" (click)="onDeletewhole(book)"></i></a></td>
        </tr>
        
        <tr *ngFor="let copy of copies">
          <td>{{copy.copy_id}}</td>
<td><a href=""><i class="bi bi-trash3-fill" (click)="onDeletecopy(copy)"></i></a></td>
</tr>
</div>

        
        <td>{{book.title}}</td>
        <td>{{book.category}}</td>
        <td>{{book.edition}}</td>
        <td>{{book.author}}</td>
         <td>{{book.copynumber}}</td>
        <td>{{book.availablecopies}}</td>
        <td><img src="{{'data:image/jpg;base64,' + book.image}}" height="40" alt=""></td>
          <td>
            <a href=""><i class="bi bi-trash3-fill" (click)="onDelete(book)"></i></a>
            <a href=""><i class="bi bi-pencil-square" (click)="onEdit(book)"></i></a>
        </td>
      </tr>

      
    </tbody>
  </table>
  </div>




  <div *ngIf="isEditing" class="product-form">

    <div class="form-control">
        <label for="title">Title</label>
        <input 
        [(ngModel)]="title"
            type="text" 
            name="title" 
            id="title" 
            value="book.title">
    </div>

   
    <div class="form-control">
        <label for="category">Category</label>
        <input 
        [(ngModel)]="category"
            type="text" 
            name="category" 
            id="category" 
            step="0.01" 
            value="book.category">
    </div>
   
  <div class="form-control">
    <label for="edition">Edition</label>
    <input 
    [(ngModel)]="edition"
        type="edition" 
        name="edition" 
        id="edition" 
        step="0.01" 
        value="book.edition">
        </div>

    <div class="form-control">
        <label for="author">Author</label>
      <input 
      [(ngModel)]="author"
          type="text" 
          name="author" 
          id="author" 
          step="0.01" 
          value="book.author">
      </div>

      <div class="form-control">
        <label for="copynumber">Total Books</label>
      <input 
      [(ngModel)]="copynumber"
          type="number" 
          name="copynumber" 
          id="copynumber" 
          step="0.01" 
          value="book.copynumber">
      </div>

      <div class="form-control">
        <label for="availablecopies">Total Books Available</label>
      <input 
      [(ngModel)]="availablecopies"
          type="number" 
          name="availablecopies" 
          id="availablecopies" 
          step="0.01" 
          value="book.availablecopies">
      </div>

            <div class="form-control">
        <label for="image">Image</label>
        <input type="file" (change)="onFileSeleceted($event)">
              
          </div>
          
      
        
<input type="hidden" value="<%= book.book_id %>" name="bookid" [(ngModel)]="bookid">
<button class="btn btn-success" type="submit" (click)="onUpdateBooks(bookid)">Update Product</button>

    
  </div>



  <ul class="pagination" style="justify-content: end;">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>

</div>

    </div>
  </div>


</div>


<router-outlet></router-outlet>
