<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <div *ngIf="user">
      <a class="navbar-brand" href="#"> Welcome{{user[0].fullname}}</a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!isLoggedIn" class="main-header__item">
            <a class="nav-link active" [ngClass]="{'anchor-disable' : isLoggedIn}" routerLink="login">LOGIN</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn" class="main-header__item">
            <a class="nav-link" [ngClass]="{'anchor-disable' : isLoggedIn}" routerLink="signup">SIGN UP</a>
          </li>
          <li class="nav-item" class="main-header__item">
            {{user.name}} <a class="nav-link" [ngClass]="{'anchor-disable' : isLoggedIn}" (click)="onLogOut()">LOG
              OUT</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>





<router-outlet></router-outlet>