<div class="backdrop"></div>
<header class="main-header">
   
    <nav class="main-header__nav">
   
        <ul class="main-header__item-list">
            
                <li *ngIf="!isLoggedIn"class="main-header__item">
                    <a [ngClass]="{'anchor-disable' : isLoggedIn}" routerLink="login">Login</a>
                </li>
                <li *ngIf="!isLoggedIn" class="main-header__item">
                    <a [ngClass]="{'anchor-disable' : isLoggedIn}" routerLink="signup">Signup</a>
                </li>
           
                <li class="main-header__item">
                    
                {{user.name}} <a [ngClass]="{'anchor-disable' : !isLoggedIn}" (click)="onLogOut()">Logout</a>
                
                </li>
            
        </ul>
    </nav>
</header>


<router-outlet></router-outlet>