<main>
    
    <div class="login-form">
        <div class="form-control">
         
                
            <label for="fullname">fullname </label>
            <input 
            [(ngModel)]="fullname"
                type="fullname" 
                name="fullname" 
                id="fullname" 
                value="">

                <label for="adress">address </label>
                <input 
                [(ngModel)]="address"
                    type="address" 
                    name="address" 
                    id="address" 
                    value="">
                    <label for="phone">phone </label>
                    <input 
                    [(ngModel)]="phone"
                        type="number" 
                        name="phone" 
                        id="phone" 
                        value="">

            <label for="email">E-Mail</label>
            <input 
            [(ngModel)]="email"
                type="email" 
                name="email" 
                id="email" 
                value="">

                <label for="password">Password</label>
                <input 
                [(ngModel)]="password"
                    type="number" 
                    name="password" 
                    id="password" 
                    value="">

                    <label for="confirmPassword">Confirm Password</label>
                    <input 
                    [(ngModel)]="confirmpassword"
                        type="number" 
                        name="confirmPassword" 
                        id="confirmPassword" 
                        value="">
                 

                        <label for="dateofbirth">date of birth</label>
                        <input 
                        [(ngModel)]="dateofbirth"
                            type="date" 
                            name="dateofbirth" 
                            id="dateofbirth" 
                            value="">


                            <label for="membership">membership</label>
                            <input 
                            [(ngModel)]="membership"
                                type="membership" 
                                name="membership" 
                                id="membership" 
                                value="">

                                <label for="position">position</label>
                                <input 
                                [(ngModel)]="position"
                                    type="position" 
                                    name="position" 
                                    id="position" 
                                    value="">



                           
        </div>
        {{errorSignUpMessage}}
      
        <button class="btn btn-primary" type="submit" (click)="onSignup()">Signup</button>
        {{errorSignUpMessage}}
    </div>
</main>
