<header>

    <div class="container-fluid">
      <div class="row">
    
        <!-- First Column -->
        <div class="col-sm-2">
          <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height: 100vh; width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4">LOGO</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                  Dashboard
                </a>
              </li>
              <li>
                <a routerLink="borrower" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#borrower"/></svg>
                  Borrower
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#books"/></svg>
                  Books
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#returns"/></svg>
                  Returns
                </a>
              </li>
            </ul>
            <hr>
          
    
          </div>
        </div>
    
        <!-- Second Column -->
        <div class="col-sm-10">
    
    
        <nav class="navbar navbar-expand-sm navbar-light" style="float: right;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
        </nav>
    
    
          
          <h1>Hello Aramesh!</h1>
          <span>July 12, 2023</span>&nbsp;|&nbsp;<span>Thursday 11:00 AM</span>
          <p></p>
    
    <div class="row">
    
      <div class="card" style="width:300px; height: 100px; padding-top: 18px;">
          <h3 class="card-title" style="font-weight: 800; color: #0C183F;">1223</h3>
          <p class="card-text" style="font-weight: 300; color: #132354; font-size: 15px;">Total Visitors</p>
      </div>
    
      <div class="card" style="width:300px; height: 100px; padding-top: 18px; margin-left: 70px;">
        <h3 class="card-title" style="font-weight: 800; color: #0C183F;">740</h3>
        <p class="card-text" style="font-weight: 300; color: #132354; font-size: 15px;">Borrowed Books</p>
    </div>
    
    <div class="card" style="width:300px; height: 100px; padding-top: 18px; margin-left: 70px;">
      <h3 class="card-title" style="font-weight: 800; color: #0C183F;">400</h3>
      <p class="card-text" style="font-weight: 300; color: #132354; font-size: 15px;">Overdue Books</p>
    </div>
    
    <div class="card" style="width:300px; height: 100px; padding-top: 18px; margin-left: 70px;">
      <h3 class="card-title" style="font-weight: 800; color: #0C183F;">1500</h3>
      <p class="card-text" style="font-weight: 300; color: #132354; font-size: 15px;">New Members</p>
    </div>
    
    </div>
    
    <p></p>
    
    <div class="row" style="background-color: #d9d9d9;">
    
      <div class="col-md-6" >
        <p></p>
        <span style="font-weight: 800;">Users List</span>
        <button type="button" class="btn btn-primary btn-sm" style="color: #132354; float: right;">Add New User</button>
        <p></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">User Name</th>
              <th scope="col">Book Issued</th>
              <th scope="col">Department</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">10021</th>
              <td>Alex Ray</td>
              <td>Book Issued</td>
              <td>Department</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">10021</th>
              <td>Alex Ray</td>
              <td>Book Issued</td>
              <td>Department</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">10021</th>
              <td>Alex Ray</td>
              <td>Book Issued</td>
              <td>Department</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">10021</th>
              <td>Alex Ray</td>
              <td>Book Issued</td>
              <td>Department</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
          </tbody>
        </table>
      </div>
    
    
      <div class="col-md-6" >
        <p></p>
        <span style="font-weight: 800;">Books List</span>
        <button type="button" class="btn btn-primary btn-sm" style="color: #132354; float: right;">Add New Book</button>
        <p></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Book ID</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Available</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href=""><i class="bi bi-trash3-fill"></i></a>
                <a href=""><i class="bi bi-pencil-square"></i></a>
              </td>
            </tr>
    
          </tbody>
        </table>
      </div>
    
    </div>
    
    <p></p>
    
    <div class="row" style="background-color: #d9d9d9;">
      <p></p>
      <span style="font-weight: 800;">Overdue Books List</span>
      <p></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Book ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Overdue</th>
            <th scope="col">Status</th>
            <th scope="col">Fine</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">10021</th>
            <td>Alex Ray</td>
            <td>#100-21-30</td>
            <td>Strollers</td>
            <td>Mood Newton</td>
            <td>1 day</td>
            <td style="color: #22B122;">Returned (Late)</td>
            <td style="color: #E63232;">$1.50</td>
          </tr>
    
          <tr>
            <th scope="row">10021</th>
            <td>Alex Ray</td>
            <td>#100-21-30</td>
            <td>Harry Potter</td>
            <td>Lucy Ives</td>
            <td>3 day</td>
            <td style="color: #22B122;">Returned (Late)</td>
            <td style="color: #E63232;">$1.50</td>
          </tr>
    
          <tr>
            <th scope="row">10021</th>
            <td>Alex Ray</td>
            <td>#100-21-30</td>
            <td>Life Is Everywhere</td>
            <td>Amanda Parrish</td>
            <td> - </td>
            <td style="color: #22B122;">Returned (Late)</td>
            <td> - </td>
          </tr>
    
          <tr>
            <th scope="row">10021</th>
            <td>Alex Ray</td>
            <td>#100-21-30</td>
            <td>Ancestor Trouble</td>
            <td>John Clement</td>
            <td>2 day</td>
            <td style="color: #22B122;">Returned (Late)</td>
            <td style="color: #E63232;">$1.50</td>
          </tr>
    
        </tbody>
      </table>
    
    </div>
    
    <div class="row" style="background-color: #d9d9d9;">
    
      <div class="col-md-6" >
        <p></p>
        <span style="font-weight: 800;">Books Issued</span>
        <button type="button" class="btn btn-primary btn-sm" style="color: #132354; float: right;">Issue Book</button>
        <p></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User ID</th>
              <th scope="col">Book</th>
              <th scope="col">Issued Date</th>
              <th scope="col">Return Date</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href="">View Details</a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href="">View Details</a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href="">View Details</a>
              </td>
            </tr>
    
            <tr>
              <th scope="row">#100-21-30</th>
              <td>Strollers</td>
              <td>Alex Ray</td>
              <td>30</td>
              <td>
                <a href="">View Details</a>
              </td>
            </tr>
    
          </tbody>
        </table>
      </div>
    
    
      <div class="col-md-6">
        <p></p>
    <h3 style="font-weight: 300; font-size: 24px;">Top Choice</h3>
    <p></p>
    <div style="display: flex;">
      <div style="margin-right: 40px;">
        <img src="../assets/11.png" alt="Forest" style="width:120px; margin-bottom: 5px; border-radius: 7px;">
        <p style="font-weight: 400; font-size: 18px; margin-bottom: 0px;">Stroller</p>
        <span style="font-weight: 100; font-size: 15px; margin-top: 0px;">Amanda Morgan</span>
      </div>
      <div style="margin-right: 40px;">
        <img src="../assets/11.png" alt="Forest" style="width:120px; margin-bottom: 5px; border-radius: 7px;">
        <p style="font-weight: 400; font-size: 18px; margin-bottom: 0px;">Stroller</p>
        <span style="font-weight: 100; font-size: 15px; margin-top: 0px;">Amanda Morgan</span>
      </div>
      <div style="margin-right: 40px;">
        <img src="../assets/11.png" alt="Forest" style="width:120px; margin-bottom: 5px; border-radius: 7px;">
        <p style="font-weight: 400; font-size: 18px; margin-bottom: 0px;">Stroller</p>
        <span style="font-weight: 100; font-size: 15px; margin-top: 0px;">Amanda Morgan</span>
      </div>
    
      <div style="margin-right: 40px;">
        <img src="../assets/11.png" alt="Forest" style="width:120px; margin-bottom: 5px; border-radius: 7px;">
        <p style="font-weight: 400; font-size: 18px; margin-bottom: 0px;">Stroller</p>
        <span style="font-weight: 100; font-size: 15px; margin-top: 0px;">Amanda Morgan</span>
      </div>
    </div>
    
      </div>
    
    </div>
    
        </div>
      </div>
    
    
    </div>
    </header>
    
    
    
    
    <router-outlet></router-outlet>
    